/* -- --- FONTS --- ---  */
@font-face {
  font-family: "Lucida Sans";
  font-style: italic;
  src:  url("./assets/fonts/LucidaSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe WP";
  font-weight: 400;
  src:  url("./assets/fonts/SegoeWP.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe WP";
  font-weight: 300;
  src:  url("./assets/fonts/SegoeWPLight.ttf") format("truetype");
}

@font-face {
  font-family: "Asap";
  src:  url("./assets/fonts/Asap-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Segoe UI Regular";
  src:  url("./assets/fonts/segoe-ui.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: light;
  src:  url("./assets/fonts/SegoeUILight.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  src:  url("./assets/fonts/SegoeUIBold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  src:  url("./assets/fonts/PTS55F.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src:  url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

/* Container for all sections */
.container {   
  max-width: 1020px;
  width: 100%; 
  margin: 0 auto; 
} 

/* --- Header --- */
.header {
  position: absolute; 
  left: 0;
  right: 0;

  display: flex;  
  max-width: 1020px;
  height: 112px;
  align-items: center;
  margin: 0 auto; 
}

.logo {
  margin-top: 27px;
  margin-left: -1px;
}

.logo-h1 {
  margin-left: 3px;  
  margin-top: 38px;

  font-family: "Lucida Sans", "Tahoma", sans-serif;
  font-style: italic;  
  font-size: 41px;
  text-transform: uppercase;
  letter-spacing: 0.4px;  
  text-align: center;
  color: #ffffff;
  
  -webkit-text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
  -moz-text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
  text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
}

/* --- Navigation --- */
.navigation {  
  display: flex;
  width: 453px;
  height: 41px;    
  margin-left: auto;
  align-self: flex-end;  

  background-color: #f5c505;
  -webkit-box-shadow: -4px -5px 0px 0px rgba(231,166,26,0.27), -8px -8px 0px 0px rgba(231,166,26,0.27);
  -moz-box-shadow: -4px -5px 0px 0px rgba(231,166,26,0.27), -8px -8px 0px 0px rgba(231,166,26,0.27);
  box-shadow: -4px -5px 0px 0px rgba(231,166,26,0.27), -8px -8px 0px 0px rgba(231,166,26,0.27);
 }
  
.navigation-list {
  display: flex;
  width: 100%;
}

 /* Icons for .navigation buttons */
 .button-about li::before {  
  content:"";
  
  position: relative;
  top: 3px;
  right: 1px;
  
  display: inline-block;  
  margin-right: 10px;
  width: 20px;
  height: 20px;
  
  background-image: url("./assets/img/about.svg");  
}

.button-services li::before {
  content:"";

  position: relative;
  top: 3px;
  
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  background-image: url("./assets/img/services.svg");  
}

.button-contact li::before {
  content:"";

  position: relative;
  top: 3px;

  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 8px;

  background-image: url("./assets/img/contacts.svg");  
}

/* Line up content of navbar */
.button-about li {    
  margin-left: 17px;
  margin-bottom: 5px;
}

.button-services li {    
  margin-left: -6px;
  margin-bottom: 5px;
}

.button-contact li {    
  margin-left: -7px;
  margin-bottom: 5px;
}

/* Width of the navbar buttons */
.button-about {
  flex: 1.29;
}

.button-services {
  flex: 1;
}

.button-contact {
  flex: 1.1;
}

/* Navbar links */
.navigation a {  
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  font-family: "Segoe WP", "Tahoma", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0px;  
  text-align: center;  
  color: #9b7d08;
  
  border-right: 1px solid rgba(0,0,0,0.1);
}

/* Interactive navbar elements */
.navigation a:hover {
  background-color: rgba(0,0,0,0.05);
}

.navigation a:active {  
  background-color: rgba(0,0,0,0.11);
}

/* --- Top section --- */
.top .container {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {  
  display: flex;
  height: 566px;
  min-width: 100%;
  background-image: url(./assets/img/main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Video element */
.main-video-overlay {  
  position: relative;

  width: 549px;
  height: 327px;
  margin-top: 97px;
  margin-left: 10px;

  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main-video {
  width: 100%;
  height: 100%;
}

.main-video[poster] {
  object-fit: cover;
  object-position: -54px 0px;    
}

/* Video Controls */
.video-controls {
  position: absolute; 
  bottom: 0;
  
  width: 100%;
  height: 100%;
}

.play-big {
  position: absolute;
  top: 39.8%;
  left: 241px;

  height: 67px;
  width: 67px;
  
  background-color: rgba(245, 197, 6, 0.72);
  background-image: url("./assets/img/play.svg");
  background-position: 27px 17px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;  
  border-radius: 50%;
}

.play-sqr {
  position: absolute;
  top: 84.89%;
  left: 29px;
  
  height: 27px;
  width: 27px;
  
  background-color: rgba(245, 197, 6, 0.37);
  background-image: url("./assets/img/play.svg");
  background-size: 10px auto;  
  background-position: 10px 5px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
}

.progress {
  position: absolute;
  top: 87.38%;
  left: 80px;
}

.progress .unfill {
  width: 404px;
  height: 12px;  

  background-color: rgba(245, 197, 6, 0.28);
  border:none;
  -webkit-border--radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;    
}

.progress .fill {  
  width: 44.4%;
  height: 12px;

  background-color:rgba(245, 197, 6, 1); 
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
}

.vol {
  position: absolute;
  top: 84.89%;
  top: 87.19%;
  right: 19px;

  height: 15px;
  width: 16px;
  
  background: transparent;
  background-image: url("./assets/img/volume.svg");
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;

}

/* Large heading beside the video */
.video-heading {  
  margin-top: 67px;
  font-family: "Asap", "Tahoma", sans-serif;
  font-size: 63px;
  letter-spacing: 0.6px;  
  text-align: center; 
  text-transform: uppercase;
  line-height: 4.8rem;
}

.orange-text {
 color: #f5c506; 
 margin-right: 34px;  
}

.white-text {
color: #ffffff;    
margin-right: 18px;  
}

/* Arrow buttons both on the left and right */
.button-next {
  position: absolute;
  top: 300px;
  width: 100%
}

.button-next  button {
  width: 32px;
  height: 57px;
  background-color: rgba(245, 197, 6, 0.71);
  border: none;
}

.button-next button:hover {
  background-color: rgba(245, 197, 6, 0.81);
}

.button-next button:active {
  background-color: rgba(245, 197, 6, 1);
}

/* Arrow buttons left / right */
.button-next-left {  
  float: left;
  background-image: url("./assets/img/left.svg");
  background-repeat: no-repeat;
  background-position: 8px  19px;
}

.button-next-right {
  float: right; 
  background-image: url("./assets/img/right.svg");
  background-repeat: no-repeat;
  background-position: 11px 18px;
}

/* --- Icon Area --- */

.icon-area .container {  
  display: flex;
  height: 100%;  
}

.icon-area {
  height: 212px;
  width: 100%;

  background-image: url(./assets/img/icon-section.png); /* Background of the section */
  background-size: cover;
  background-repeat: no-repeat;  
  
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.icon-design,
.icon-customize,
.icon-free {
  display: flex;  
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;  

  font-family: "Segoe UI", "Tahoma", sans-serif;
  font-weight: light;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;

  border-left: 1px solid rgba( 0, 0, 0, 0.14); /* Add vertical lines between .navigationbar sections */
}

.icon-free {
  border-right: 1px solid rgba( 0, 0, 0, 0.14); /* Add missing line on the right */
}

/* Align icons */
.icon-design img {
  margin-right: 6px;
}

.icon-customize img {
  margin-bottom: 4px;
  margin-left: 22px;
}

.icon-free img {
  margin-bottom: -1px;
  margin-right: 21px;
}

/* Align text under icons*/
.icon-text {  
  margin-top: 14px;
  margin-bottom: 35px;
}
.icon-design .icon-text {
  margin-bottom: 36px;
  margin-left: 17px;

  letter-spacing: 0.4px;
}
.icon-customize .icon-text {
  margin-left: 19px;

  letter-spacing: 0px;
}
.icon-free .icon-text {
  margin-right: 16px;

  letter-spacing: 0.3px;
 }

 /* --- Yellow Section --- */
 .yellow-section .container {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.yellow-section {  
  display: flex;
  height: 508px;
  min-width: 100%;

  background-image: url("./assets/img/section-1.png");
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.26);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.26);
}

.yellow-heading {
  flex-basis: 100%;
  height: 73px;
  justify-self: flex-start;
  text-align: left;
  margin-top: 37px;

  font-family: "PT Sans", "Tahoma", sans-serif;  
  font-size: 37px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Left box with date */
.date-vid-box {
  display: flex;  
  margin-left: -1px;
  flex-direction: column;  
  align-self: flex-start;
}

.video-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 656px;
  height: 233px;

  background-color: #ec9e03;
}

.video-box p {
  width:330px;
  padding: 15px 18px;

  font-family: "Segoe WP", "Tahoma", sans-serif;  
  font-size: 29px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 38px;
  color: #ffffff;
}

.video-box video {
  display: inline-block;
}

.video-box .play-big {
  top: 39.8%;
  left: 130px;

  height: 61px;
  width: 61px;

  background-size: 18px 32px;
  background-position: 25px 14px;
  background-repeat:no-repeat;
}

/* Date Box*/
.date-box {
  box-sizing: border-box;  
  padding-top: 12px;
  padding-left: 7px;
  align-self: flex-start;
  text-align: center;  
  height: 86px;
  width: 113px;

  background-color: #ddb101;
}

.date-box .day {  
  font-family: "Segoe UI", "Tahoma", sans-serif;  
  font-size: 51px;  
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
}

.date-box .month {
  margin-right: 2px;
  
  font-family: "Segoe UI Regular", "Tahoma", sans-serif;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 38px;  
  text-transform: uppercase;
  color: #b26529;
}

/* Right box with Twitter logo */
.twitter-box {  
  width: 329px;
  height: 233px;
  margin-right: 2px;

  background-color: #ec9e03;
  background-image: url("./assets/img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 49% 59%;  
}

.twitter-count {
  position: relative;
  top: 9px;
  left: 285px;

  font-family: "Segoe WP", "Tahoma", sans-serif;
  font-size: 25px;  
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
}

.twitter-box .tweets {
  display: none;
}
/* Plus buttons */
.plus {
  position: relative;
  height: 12px;
  width: 15px;
  background-image: url("./assets/img/plus.svg");
  background-repeat: no-repeat;
}

.plus-video {
  left: 315px;
  top: 208px;
}

.plus-twitter {
  left: 308px;
  top: 170px;
}

.plus:hover,
.plus:active {
  background-image: url("./assets/img/plus.svg"),url("./assets/img/plus.svg");
}

/* Slider */
.slider-temp {
  flex-basis: 100%; 
}

.slider-white {
  margin-left: 73px;
  margin-top: 43px;
  width: 87.8%;
  height: 15px;
  background-color: rgba(259, 256, 256, 0.48);
  border-radius: 7px;
}

.slider-orange {
  margin-left: 247px;
  width: 21.9%;
  height: 100%;
  background-color: #ec9e03;
  border-radius: 7px;
}

/* Range Input slider */
.slider {
  margin-left: 73px;
  margin-top: 43px;
  -webkit-appearance: none;
  width: 87.8%;
  height: 15px;
  border-radius: 7px;  
  background: rgba(259, 256, 256, 0.48);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-moz-range-track {
  margin-left: 73px;
  margin-top: 43px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 7px;  
  background: transparent;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21.9%;
  height: 15px;
  border-radius: 7px; 
  background: #ec9e03;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 21.9%;
  height: 15px;
  border-radius: 7px; 
  background: #ec9e03;
  cursor: pointer;
}

/* --- Grey section with list --- */
.grey-section {  
  display: flex;
  height: 497px;
  width: 100%;

  background-image: url(./assets/img/section-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Picture of Computer and etc. */
figure {
  display: block;
  float: left;
}

.computer {
  margin-top: -2px;
  margin-top: -9px;
  margin-left: -3px;  
}

.computer-mob {
  display: none;
}

.tablet {
  margin-bottom: 40px;
  margin-left: 20px;
}

.smartphone {
  margin-bottom: 40px;
  margin-left: 21px;  
}

/* List */
.grey-heading {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 17px;
  margin-left: 3px;
  text-align: center; 

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 43px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f5c506;
}

.grey-section ul {
  position: relative;
  top: 58px;
  right: 1px;

  float: right;
  width: 360px;
  
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;

  list-style-image: url("./assets/img/dot.svg");  
}

.grey-section li {
  padding-left: 13px;
  padding-top: 22px;

  line-height: 1.2em;
}
.grey-section li:nth-of-type(3) {  
  padding-top: 15px;
}

/*  --- Footer with Logo --- */
.footer {
  height: 64px;
  width: 100%;

  background-image: url(./assets/img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;  

  -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 1);
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-top: 5px;
  margin-left: -1px;
}

.footer-logo+h3 {  
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;

  font-family: "Lucida Sans", "Tahoma", sans-serif;
  font-style: italic;  
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #ffffff;

  -webkit-text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
  -moz-text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
  text-shadow: 1px 1.732px 0px rgba( 0, 0, 0, 0.42);
}

/* ---- -- For Devices less then 640px -- ---- */
@media (max-width: 640px) {

.container {
  max-width: 640px;
}

.header {    
  position: static;
  height: 62px;

  background: #4c4c4c;
}

.navigation {
    width: 454px;
    height: 100%;
    box-shadow: none;
    align-self: stretch;
}

.navigation-list a {
  font-size: 19px;
}

.button-about li::before {
  top: 3px;
  right: 2px;

  width: 25px;
  height: 24px;
  background-size: cover;
}

.button-services li {
  margin-left: -10px;
  margin-bottom: 5px;
}

.button-services li::before {
  top: 4px;

  width: 23px;
  height: 23px;
  background-size: cover;
}

.button-contact li {
  margin-left: 0;
}

.button-contact li::before {
  right: 3px;
  top: 2px;

  width: 29px;
  height: 22px;
  background-size: cover;
}

.button-about li{
  margin-left: -2px;
  margin-bottom: 6px;
}

.logo-h1 {
    font-size: 19px;
    margin-top: 0px;
    margin-top: 5px;
    margin-left: 6px;
    letter-spacing: 0.5px;
}

.logo {
  height: 40px;
  width: 40px;
  margin-top: 0px;
  margin-left: 12px;
}

.top {
  height: 327px;

  background-image: none;

  -webkit-box-shadow: inset 0px -4px 0px 0px rgba( 255, 255, 255, 0.4), 
                      inset 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba( 255, 255, 255, 0.4),
                   inset 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
  box-shadow: inset 0px -4px 0px 0px rgba( 255, 255, 255, 0.4),
              inset 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
}

.button-next {
  display: none;
}

.video-heading {
  display: none;
}

.main-video {
  width: 640px;
}
.main-video[poster] {
  object-position: 0 0;
}
.video-controls {
  width: 85.8%;
  left: 54px;
}

.main-video-overlay {
  height: 100%;
  width: 640px;  
  margin: 0;
  margin-top: -1px;  
}

.progress {
  top: 87.6%;
}

.icon-area {
  position: relative;
  height: 170px;
  box-sizing: border-box;
  z-index: 10;

  background-image: url("./assets/img/icon-section-mob.png");

  -webkit-box-shadow: inset 0px -5px 0px 0px rgba( 255, 255, 255, 0.4), 
  0px -4px 0px 0px rgba( 255, 255, 255, 0.4), 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba( 255, 255, 255, 0.4), 
  0px -4px 0px 0px rgba( 255, 255, 255, 0.4), 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
  box-shadow: inset 0px -5px 0px 0px rgba( 255, 255, 255, 0.4), 
  0px -4px 0px 0px rgba( 255, 255, 255, 0.4), 0px -9px 0px 0px rgba( 255, 255, 255, 0.4);
}

.icon-area .container {
  width: 640px;
}

.icon-design,
.icon-customize,
.icon-free {
  font-size: 23px;
  background-image: none;
  border: 0;
}

.icon-design img {
  height: 62px;
  width: 90px;
  margin-right: 36px;
  margin-bottom: 7px;
}

.icon-design .icon-text {
  margin-bottom: 32px;
  margin-left: -24px;
}

.icon-customize .icon-text {
  margin-bottom: 32px;
  margin-left: 18px;

}

.icon-free .icon-text {
  margin-bottom: 32px;
  margin-left: 22px;

}
.icon-customize img {
  height: 70px;
  width: 67px;
  
  margin-right: 6px;
  margin-bottom: 3px;
}
.icon-free img {
  height: 70px;
  width: 69px;
  
  margin-right: 8px;
  margin-bottom: 3px;
}

.yellow-section {  
  background-image: none;
  height: 484px;
}

.date-vid-box {
  flex-basis: 100%;
  margin-left: 0;
}

.video-box {
  box-sizing: border-box;

  width:100%;
  height: 252px;  
  display: flex;
  justify-content: space-evenly;
  padding: 11px 0 9px 0;

  background-color: #ffffff;
}

.video-box p {
  box-sizing: border-box;
  width: 299px;
  padding: 15px 26px; 

  line-height: 33px;

  background-color: #ec9e03;
}

.video-overlay {
  width: 314px;
  margin-top: -1px;
}

.date-vid-box .play-big {
  left: 393px;
  top: 103px;
}

.date-box {
  display: none;
}

.plus {
  position: absolute;
} 

.plus-video {
  left: 285px;
  top: 213px;
}

.twitter-box {
  background-color: #f5c507;
  flex-basis: 100%;
  width: 100%;
  margin-right: 0;
  
  background-image: url("./assets/img/twitter.svg");
  
  background-position: 17.2% 58%;
}

.twitter-box .tweets {
  display: block;
  box-sizing: border-box;
  float: right;
  height: 100%;
  padding-top: 23px;
  
}

.twitter-bubble {
  width: 285px;
  height: 43px;
  margin-right: 32px;
  margin-bottom: 13px;
  background-image: url("./assets/img/bub.svg");
}

.twitter-bubble:nth-child(2) {
  background-image: linear-gradient(rgba(245, 197, 7, 0.3), rgba(245, 197, 7, 0.3)),  url("./assets/img/bub.svg");

}

.twitter-bubble:nth-child(3) {
  background-image: linear-gradient(rgba(245, 197, 7, 0.4), rgba(245, 197, 7, 0.4)),  url("./assets/img/bub.svg");

}

.twitter-box form {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 26px;
  margin-left: 14px;
}

.twitter-box-input {
  width: 100%;
  height: 100%;  
  margin-bottom: 11px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.15);

  -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.1);
  box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.1);
}

.twitter-button {
  position: absolute;
  right:-2px;
  top: 0px;
  height: 30px;
  width: 71px;
  padding-left: 13px;

  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Arial";
  text-align: left;

  border: 0;
  background-color: #ec9e03;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;

  background: -moz-linear-gradient(top, rgba(236,158,3,1) 0%, rgba(208,142,12,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,158,3,1)), color-stop(100%, rgba(208,142,12,1)));
  background: -webkit-linear-gradient(top, rgba(236,158,3,1) 0%, rgba(208,142,12,1) 100%);
  background: -o-linear-gradient(top, rgba(236,158,3,1) 0%, rgba(208,142,12,1) 100%);
  background: -ms-linear-gradient(top, rgba(236,158,3,1) 0%, rgba(208,142,12,1) 100%);
  background: linear-gradient(to bottom, rgba(236,158,3,1) 0%, rgba(208,142,12,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9e03', endColorstr='#d08e0c', GradientType=0 );
}


.twitter-count {
  display: none;
}

.twitter-text {
  padding-top: 8px;
  padding-left: 29px;

  font-family: "Arial";
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 15px;
  color: #8f8e8e;
}

.plus-twitter {
  display: none;
}

.yellow-heading {
  display: none;
}

.yellow-section .slider-temp {
  display: none;
} 

.grey-section {
  height: 469px;
}

.grey-heading  {
  text-align: left;
  margin-top: 39px;
  margin-bottom: 20px;
  margin-left: 18px;
    
  font-size: 39px;
  letter-spacing: 2.2px;
}

.grey-section figure {
  width: 100%;
}

.computer {
  display: none;
}

.computer-mob {
  display: inline-block;
  margin-top: 17px;
  margin-left: 26px;
}

.grey-section ul {
  display: none;
}

.footer {
  height: 41px;
}

.footer-logo+h3 {
  font-size: 17px;
  letter-spacing: 0px;
  
  margin-left: 8px;
}

.footer-logo {
  height: 32px;
  width: 32px;
  margin-top: 4px;
  margin-left: 0px;
}

.footer .container {
  padding-left: 64px;
}
}

